/* header.css */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
  }
  
  nav {
    background-color: #333;
    padding: 10px 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 60%;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    height: 100%;
  }
  
  nav li {
    margin: 0 20px; /* Ensure equal spacing on both sides */
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  
  nav a:hover {
    color: #ccc;
  }
  
  nav a.active {
    color: #66d9ef;
  }



