.aboutbanner{
    display: flex;
    justify-content: center;
}

.aboutbanner img{
    
    height: 50vh;
    margin-top: 58px;
    width: 60%;
    background-size: cover;
}

.aboutwrapper {
    padding: 20px;
}

.aboutwrapper h3,
.aboutwrapper h5 {
    margin-top: 50px;
}

.text {
    color: #878787;
}

.icon-link {
    margin-left: 5px;
    color: inherit;
    text-decoration: none;
}

.icon {
    font-size: 24px;
    vertical-align: middle;
}

